.body{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
    border-width: 5px;
    border-radius: 30px;
    
}
.bg{
    background: #004098;
    background: -moz-linear-gradient(-45deg, #004098 0%, #005CDB 41%, #006BFF 100%);
    background: -webkit-linear-gradient(-45deg, #004098 0%, #005CDB 41%, #006BFF 100%);
    background: linear-gradient(135deg, #004098 0%, #005CDB 41%, #006BFF 100%);
}

.title {
    text-align: center;
    font-size: 30pt;
    font-weight: 5px;
    color: rgba(7, 7, 199, 0.822);
}

.form{
    align-self: center;
    margin-left: 25%;
    margin-right: 25%;
    background-color: blue;
    font-size: 14pt;
    color: white;
    padding: 30px;
    padding-left: 119px;
    border-radius: 30px;
    box-shadow: 5px 5px 16px 3px rgba(0,0,0,0.21);
    
}

.button{
    margin-left:24%;
    background: #0261e7;

    color: white; 
    font-size: 15pt; 
    line-height: 14px; 
    padding: 9px; 
    border-radius: 9px; 
    border-color: hsl(0, 0%, 100%);
    display: inline-block;
}